footer {
    background-color: $black;
    color: white;
    padding: 50px 0;
    margin-top: 5rem;

    .short-info {
        span {
            display: block;

        }
    }

    .goodbye-text {

    }
}
