.introduction {
    height: 100vh;
    background: rgb(255, 255, 255);
    background: linear-gradient(45deg, rgba(255, 255, 255, 1) 30%, rgba(0, 0, 0, 1) 100%);

    .intro-data {
        position: absolute;
        top: 40vh;
        left: 20%;

        h1 {
            line-height: 100%;
        }
    }

    .intro-image {
        text-align: center;

        img {
            width: 80%;
            position: relative;
            text-align: center;
            top: 12vh;
        }
    }
}

.description {
    margin-top: 20vh;

    .about {
        text-align: center;
    }

    .contact-buttons {
        text-align: center;
        margin-top: 20px;

        a {
            text-transform: uppercase;
            color: $black;
            padding: 16px 40px;
            background-color: $gray;

            &:last-child {
                color: $white;
                background-color: $black;
            }
        }
    }

    .overview-box {
        margin-top: 12vh;
        width: 80%;

        b, span {
            display: block;
        }

        i:last-child {
            display: none;
        }
    }

}

.project {
    text-align: center;

    img {
        max-width: 80%;
        max-height: 423px;
    }
}

.comment-section {
    min-height: 40vh;
    width: 70%;
    margin: 0 auto;
    background-color: rgb(196, 196, 196, 0.28);

    .comment-content {
        padding: 5vh 100px;
        text-align: center;
        img {
            border-radius: 50%;
            max-width: 100px;
        }
    }
}

// carousel

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23828282' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23828282' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}

