.introduction {
  height: 100vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(45deg, rgba(255, 255, 255, 1) 30%, rgba(0, 0, 0, 1) 100%);

  .intro-data {
    position: absolute;
    top: 40vh;
    left: 20%;
    h1 {
      line-height: 100%;
    }
  }

  .intro-image {
    text-align: center;
    img {
      width: 80%;
      position: relative;
      text-align: center;
      top: 12vh;
    }
  }
}