html {
    font-size: 16px;
}

// Typography
$main-font: "Nunito Sans", sans-serif;

%header-font {
    font-family: $main-font;
    font-weight: bold;
}

%basic-font {
    font-family: $main-font;
    font-weight: normal;
}

%basic-font-bold {
    font-family: $main-font;
    font-weight: bolder;
}

h1 {
    @extend %header-font;
    font-size: 7.5rem;
}

h2 {
    @extend %header-font;
    font-size: 3.125rem;
    margin: 70px 0 40px 0;
    text-align: center;
}

h3 {
    @extend %header-font;
    font-size: 2.25rem;
}

h5 {
    @extend %header-font;
    font-size: 1.5625rem;
}

p {
    @extend %basic-font;
    font-size: 1rem;
}

i, a {
    @extend %basic-font;
    font-size: 1rem;
    font-style: normal;
}

span {
    @extend %basic-font;
    font-size: 1rem;
    font-style: normal;
}

b {
    @extend %basic-font-bold;
    font-size: 1rem;
}
