
.projects-introduction {
    height: 50vh;
    background-color: black;
}

.projects-list {
    margin-top: 8.125rem;

    .title-project-image, .general-project-image {
        width: 100%;
        height: 400px;
        background-size: cover;
        filter: grayscale(100%);
        transition: all 0.6s ease;
        background-position: center;

        &:hover {
            filter: grayscale(0);
        }

        .filter {
            width: 100%;
            height: 400px;
            opacity: 0.8;
            background-color: $black;
            transition: all 0.6s ease;

            &:hover {
                opacity: 0;
            }
        }
    }

    .title-project-text, .general-project-text {
        a {
            text-decoration: none;

            h5 {
                color: black;
            }
        }

        i {
            color: $dark-gray;
        }
    }

    //.title-project-image {
        //margin-bottom: 8.125rem;
    //}

    .general-project {
        .general-project-image {
            margin-top: 3.375rem;
            margin-bottom: 0.625rem;;
            height: 300px;

            .filter {
                height: 300px;
            }
        }

        .general-project-text {
            h5 {
                margin-top: 1.75rem;
            }
        }
    }
}
